$dark-0: #242629;
$dark-1: #16161A;
$primary-1: #D32F2F;
$gray-1: #FAF9F9;
$gray-2: #F1ECEC;
$gray-3: #E6DFDF;
$gray-4: #DBD1D1;
$gray-5: #CFC1C1;
$gray-6: #B19B9B;
$gray-7: #9E8282;
$gray-8: #826565;
$gray-9: #4C3B3B;